img{
    text-align: center;
    width:150px; 
    height:145x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}

.style{
    color: black;
    text-align: center;
}