.my-label{
    font-size: 18px;
    font-weight: bold;font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

ion-icon{
    font-size: 30px;
}

img{
    text-align: center;
    width:200px; 
    height:205x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}